nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid color(dark);
    @include border-auto;
    .nav-brand {
        margin: 0;
        &:hover {
            transform: scale(1.1);
        }
    }
    ul {
        margin: 0;
        padding: 0;
        float: right;
        list-style-type: none;
        //overflow: hidden;
        text-transform: uppercase;
        font-weight: 700;
    }
    li {
        display: inline-block;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 10px;
            width: 5px;
            background-color: color(dark);         
        }
        & a {
            display: block;
            text-align: center;
            padding: 14px 30px;
            &:hover:not(.active) {
                color: color(white);
                background-color: color(dark);               
            }
        }              
    }
    .active {
        background-color: color(primary);
    }
}
