.service {
    padding: 20px;
    //width: 45%;
    .round {
        display: flex;
        padding: 10px;
        border-radius: 50px;
        background-color: color(dark);
    }
    i {
        padding: 5px;
        font-size: 2rem;
        color: color(white);
    }

    h3 {
        margin: 0 0 0 10px;
    }
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
