@import "libs/normalize.scss";
@import "libs/function.scss";
@import "libs/mixin.scss";
@import "variable.scss";
@import "components/button.scss";
@import "components/card.scss";
@import "nav.scss";
@import "hero.scss";
@import "achievements.scss";

* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    color: color(primary);
    font-size: 1.1rem;
    font-family: $font-text;
}

@for $i from 1 through 3 {
    h#{$i} {
        color: color(primary);
        font-family: $font-title;
        font-size: calc(3 - ($i * 0.5)) + rem;
    }
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: color(primary);
}

header,
section {
    margin-bottom: 40px;
}

main {
    margin: 0 20px;
}

.container{
    max-width: 1320px;
    margin: 50px auto;
    @include break-to(large){
        max-width: 1440px;
        margin: 50px auto;
    }
    @include break-to(medium){
        max-width: 960px;
        margin: 50px auto;
    }
    @include break-to(small){
        max-width: 720px;
        margin: 50px auto;
    }
}
